@page "/AlterarCinema/{cinemaid}"
@using System;
@using Newtonsoft.Json;
@using System.Net.Http;
@using System.Text;
@using System.Threading.Tasks;

@inject IHttpClientFactory ClientFactory

<PageTitle>Alterar Cinema</PageTitle>
<body>

<style>
 @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
 /* Outros estilos */
</style>

<div class="container_pesquisa">
  <button id="button_home">
    <a href="ferqyfq.html">
      <img src="/images/icon_home.png">
    </a>
  </button>

  <button id="button_notificacao">
    <a href="ferqyfq.html">
      <img src="/images/icon_notificacao.png">
    </a>


  </button>

  <div id="div_identificacao">
    <img src="/images/Chagasperfil.png">
    <p>Beatriz Chagas</p>
    <div id="div_indifica_role">
      <p>Administrador</p>
    </div>
  </div>

  <div id="divBusca">
    <input type="text" id="txtBusca" img src="/images/lupapesquisa.png">
    <img id="imgBusca" src="/images/lupapesquisa.png" width="30px" alt="Buscar">
  </div>
</div>

<div class="container_menu_content">
  <div class="container_menu">
    <nav class="menu">
      <img id="framming_logo_menu" src="/images/framminglogo.png" />
      <ul>
                <div class="menu_container">
                   <button id="button_cliente_menu">
                    <li><a href="ListaFuncionarios"><img src="/images/icon_cliente.png"></a></li>
                    </button>
                    <button id="button_mensagens_menu">
                        <li><a href="ListaUsuarios"><img src="/images/icon_mensagens.png"></a></li>
                    </button>
                    
                    <button id="button_theater_menu">
                        <li><a href="ListaCinemas"><img src="/images/theater.png"></a></li>
                    </button>
                </div>
       </ul>
      <ul>
        <div class="buttons_sair_configuracao" style="margin-top:340px">
          <button id="button_sair_menu">
            <li><a href="#"><img src="/images/icon_saida.png"></a></li>
          </button>
          <button id="button_configuracao_menu">
            <li><a href="#"><img src="/images/configuracao.png"></a></li>
          </button>
        </div>
      </ul>
    </nav>

  </div>

  <div class="container_content">
                <div class="container_melhor">
                    <div class="container_dados">
                        <div class="dados">
                            <img id="foto_codigo_func" src="/images/icon_identifica_func.png" required/>
                            <span style="width:85%; margin-top:10px">
                                <p id="cod_cinema_p">Localidade: @Input.enderecoCinema</p>
                                <p id="cod_nome_p">Nome: @Input.nomeCinema</p>
                                <p id="cod_email_p">Salas: @Input.qtdSala</p>
                                <p id="cod_codigo_p">Código: @Input.tokenCinema</p>
                            </span>
                            
                        </div>
                    </div>
                    <div class="container_cadastro">
                        <div class="titulo_func"><p>Alterar Cinema</p></div>
                        <form class="container_form">
                            
                                <div class="container_inputs">
                                    <div class="inputs">
                                        <p id="codigo_func_p">Localidade:</p>
                                        <div class="input">
                                            <img id="codigo_func_img" src="/images/icon_local.png" width="35px" />
                                            <input @bind="@Input.enderecoCinema" id="codigo_func"  type="text" placeholder="Av. Guimarães, N°12" required>
                                        </div> 
                                    </div>

                                    <div class="inputs">
                                        <p id="codigo_nome_p">Nome:</p>
                                        <div class="input">
                                            <img id="nome_func_img" src="/images/icon_theater.png" width="35px" />
                                            <input @bind="@Input.nomeCinema"id="nome_func" type="text" placeholder="Uci Cinemas" required/>
                                        </div> 
                                    </div>

                                    <div class="inputs"> 
                                        <p id="codigo_email_p">Número de Salas :</p>
                                        <div class="input">
                                            <img id="email_func_img" src="/images/icon_numsalas.png" width="35px" />
                                            <input @bind="@Input.qtdSala"id="email_func" type="text" placeholder="10" required/>
                                        </div> 
                                    </div>

                                    <div class="inputs">
                                        <p id="codigo_senha_p">Código Cinema:</p>
                                        <div class="input">
                                            <img id="senha_func_img" src="/images/icon_chave.png" width="35px">
                                            <input @bind="@Input.tokenCinema" id="senha_func" type="text" disabled required/>
                                        </div>
                                    </div>

                          

                                    
                                </div>
                                <div class="form_btn">
                                    <img src="/images/icon_identifica_func.png"/>
                                    <button @onclick="Update" id="cadastre_func">Alterar</button>
                                </div>
                            
                        </form>
                    </div>
                </div>
            </div>



  
  
</div>
@if (ShowMessage2)
{
   <div class="succes_message2"></div>
}

@if (ShowMessage)
{

 <div class="succes_message"><p>Cinema Alterado com Sucesso!</p>
  <button class="button_succes"><a href="ListaCinemas"><img src="/images/theater.png"></a>x</button>
 </div>
 
}

@if (ObligationMessage){
                
                <div class="succes_message">
                <button class="button_succes" @onclick="CloseWindow">x</button>
                <img src="/images/sirene.png" width="80px">
                <p>Preencha todos os campos!</p>
                </div>
            }
</body>

@code{

   public inputModel Input {get; set;} = new();
    public class inputModel{
    public string enderecoCinema;
    public string nomeCinema;
    public string qtdSala;
    public string tokenCinema;
   

  }
    bool ShowMessage = false;
   bool ShowMessage2 = false;
   bool ObligationMessage = false;
  [Parameter]
   public string cinemaid { get; set;}

    protected override async Task OnInitializedAsync()
    {

    var client = ClientFactory.CreateClient();
    HttpResponseMessage response = await client.GetAsync($"https://framming-api.onrender.com/cinema/{cinemaid}");
    response.EnsureSuccessStatusCode();
    string responseBody = await response.Content.ReadAsStringAsync();

    Input = JsonConvert.DeserializeObject<inputModel>(responseBody);
    }

   public async Task Update(){

      if (string.IsNullOrEmpty(Input.enderecoCinema) || 
        string.IsNullOrEmpty(Input.nomeCinema) || 
        string.IsNullOrEmpty(Input.qtdSala) || 
        string.IsNullOrEmpty(Input.tokenCinema))
    {
            ObligationMessage = true;
            return;
    }



      Console.WriteLine("Test");
      var client = ClientFactory.CreateClient();

      
        using StringContent jsonContent = new(
           JsonConvert.SerializeObject(new
            {
                addressCinema = Input.enderecoCinema,
                nameCinema = Input.nomeCinema,
                numRooms = int.Parse(Input.qtdSala),
                codCinema = (Input.tokenCinema),
            
            }),
            Encoding.UTF8,
            "application/json");
              

        Console.WriteLine($"teste => {jsonContent}");

         var response = await client.PostAsync("https://framming-api.onrender.com/cinema", jsonContent);
       if (response.IsSuccessStatusCode)
 {
       ShowMessage = true;
        ShowMessage2 = true;
 }
 else
 {
     var errorMessage = await response.Content.ReadAsStringAsync();
     Console.WriteLine($"Error: {errorMessage}");
 }
}

public void CloseWindow()
   {
       ObligationMessage = false;
   }
}