@page "/AlterarFuncionario/{idUsuario}"
@using System;
@using Newtonsoft.Json;
@using System.Net.Http;
@using System.Text;
@using System.Threading.Tasks;

@inject IHttpClientFactory ClientFactory

<PageTitle>Alterar Funcionario</PageTitle>
<body>
<style>
 @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
 /* Outros estilos */
</style>

<div class="container_pesquisa">
  <button id="button_home">
    <a href="ferqyfq.html">
      <img src="~/images/icon_home.png">
    </a>
  </button>

  <button id="button_notificacao">
    <a href="ferqyfq.html">
      <img src="~/Content/images/icon_notificacao.png">
    </a>

  </button>

  <div id="div_identificacao">
    <img src="~/Content/images/Chagasperfil.png">
    <p>Beatriz Chagas</p>
    <div id="div_indifica_role">
      <p>Linda</p>
    </div>
  </div>

  <div id="divBusca">
    <input type="text" id="txtBusca" img src="~/Content/images/lupapesquisa.png">
    <img id="imgBusca" src="~/Content/images/lupapesquisa.png" width="30px" alt="Buscar">
  </div>
</div>

<div class="container_menu_content">
  <div class="container_menu">
    <nav class="menu">
      <img id="framming_logo_menu" src="~/Content/images/framminglogo.png" />
      <ul>
        <div class="menu_container">
          <button id="button_cliente_menu">
            <li><a href="cad_func"><img src="~/Content/images/icon_cliente.png"></a></li>
          </button>
          <button id="button_mensagens_menu">
            <li><a href="Verpostadm"><img src="~/Content/images/icon_mensagens.png"></a></li>
          </button>
          <button id="button_identificacao_menu">
            <li><a href="#"><img src="~/Content/images/icon_identificacao.png"></a></li>
          </button>
          <button id="button_theater_menu">
            <li><a href="Cad_cinema"><img src="~/Content/images/theater.png"></a></li>
          </button>
        </div>
      </ul>
      <ul>
        <div class="buttons_sair_configuracao">
          <button id="button_sair_menu">
            <li><a href="#"><img src="~/Content/images/icon_saida.png"></a></li>
          </button>
          <button id="button_configuracao_menu">
            <li><a href="#"><img src="~/Content/images/configuracao.png"></a></li>
          </button>
        </div>
      </ul>
    </nav>

  </div>
<div class="container_content @(ShowMessage ? "filter-black" : "")">
    <div class="container_main">
      <div class="codigo_cinema">
        <img id="foto_codigo_func" src="~/Content/images/icon_identifica_func.png" />
        <p id="cod_cinema_p">Nome: @Input.nomeUsuario</p>
        <p id="cod_nome_p">Email: @Input.emailUsuario</p>
        <p id="cod_email_p">Senha: **********</p>
         <p id="cod_codigo_p">C칩digo: @Input.tokenCinema</p>
        

      </div>

      <p id="codigo_cadastro_func_p">Alterar Funcionario</p>


      <p id="codigo_func_p">Nome:</p>
      <p id="codigo_func_result"></p>
      <input @bind="@Input.nomeUsuario" id="codigo_func"  type="text" >
      <img id="codigo_func_img" src="~/Content/images/icon_local.png" width="35px" />

      <p id="codigo_nome_p">Email:</p>
      <p id="codigo_nome_result"></p>
      <input @bind="@Input.emailUsuario"id="nome_func" type="text" />
      <img id="nome_func_img" src="~/Content/images/icon_theater.png" width="35px" />

      <p id="codigo_email_p">Senha</p>
      <p id="codigo_email_result"></p>
      <input id="email_func" type="password" placeholder="***********" disabled/>
      <img id="email_func_img" src="~/Content/images/icon_numsalas.png" width="35px" />

      <p id="codigo_senha_p">C칩digo Cinema:</p>
      <p id="codigo_senha_result"></p>
      <input @bind="@Input.tokenCinema" id="senha_func" type="text" disabled/>
      <img id="senha_func_img" src="~/Content/images/icon_chave.png" width="35px">


      <input type="file" id="fileInput" style="display: none;" accept="image/*" />
      <button id="choose_img" onclick="openFileExplorer()" style="background: none; border: none; cursor: pointer;">
        <img src="~/Content/images/foto_cadastro_func.png" id="imagePreview" />
      </button>

      <button @onclick="Update" id="cadastre_func">Alterar</button>
    </div>
  </div>
</div>

@if (ShowMessage2)
{
   <div class="succes_message2"></div>
}

@if (ShowMessage)
{

 <div class="succes_message"><p>Fucion치rio Alterado com Sucesso!</p>
  <button class="button_succes"><a href="ListaFuncionarios"><img src="~/Content/images/theater.png"></a>x</button>
 </div>
 
}

</body>
@code{

   public inputModel Input {get; set;} = new();
    public class inputModel{
    public string nomeUsuario;
    public string emailUsuario;
    public string tokenCinema;
    public string senhaUsuario;

  }

  bool ShowMessage = false;
   bool ShowMessage2 = false;


  

  [Parameter]
   public string idUsuario { get; set;}

    protected override async Task OnInitializedAsync()
    {

    var client = ClientFactory.CreateClient();
    HttpResponseMessage response = await client.GetAsync($"https://framming-api.onrender.com/users/{idUsuario}");
    response.EnsureSuccessStatusCode();
    string responseBody = await response.Content.ReadAsStringAsync();

    Input = JsonConvert.DeserializeObject<inputModel>(responseBody);
    }

  public async Task Update(){
 Console.WriteLine("Test");
 var client = ClientFactory.CreateClient();

 using StringContent jsonContent = new(
     JsonConvert.SerializeObject(new
     {
         name = Input.nomeUsuario,
         username = Input.nomeUsuario, // substitua por um campo adequado se necess치rio
         email = Input.emailUsuario,
         password = Input.senhaUsuario,
     }),
     Encoding.UTF8,
     "application/json");

 Console.WriteLine($"teste => {jsonContent}");

 var response = await client.PostAsync($"https://framming-api.onrender.com/updateUsers/{idUsuario}", jsonContent);

 if (response.IsSuccessStatusCode)
 {
       ShowMessage = true;
        ShowMessage2 = true;
 }
 else
 {
     var errorMessage = await response.Content.ReadAsStringAsync();
     Console.WriteLine($"Error: {errorMessage}");
 }
}
}
