@page "/cad_func"
@using System;
@using System.Net.Http;
@using System.Text;
@using System.Text.Json;
@using System.Threading.Tasks;

@inject IHttpClientFactory ClientFactory

<PageTitle>Cadastrar Funcionário</PageTitle>
<body>

<style>
 @@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
 /* Outros estilos */
</style>


<div class="container_pesquisa">
            <button id="button_home">
                <a href="ferqyfq.html">
                    <img src="/images/icon_home.png">
                </a>
            </button>

            <button id="button_notificacao">
                <a href="ferqyfq.html">
                    <img src="/images/icon_notificacao.png">
                </a>

            </button>

            <div id="div_identificacao">
                <img src="/images/Chagasperfil.png">
                <p>Beatriz Chagas</p>
                <div id="div_indifica_role">
                    <p>Linda</p>
                </div>
            </div>

            <div id="divBusca">
                <input type="text" id="txtBusca" img src="/images/lupapesquisa.png">
                <img id="imgBusca" src="/images/lupapesquisa.png" width="30px" alt="Buscar">
            </div>
        </div>

        <div class="container_menu_content">
            <div class="container_menu">
                <nav class="menu">
                    <img id="framming_logo_menu" src="/images/framminglogo.png" />
                    <ul>
                        <div class="menu_container">
                    <button id="button_cliente_menu">
                    <li><a href="ListaFuncionarios"><img src="/images/icon_cliente.png"></a></li>
                    </button>
                    <button id="button_mensagens_menu">
                        <li><a href="ListaUsuarios "><img src="/images/icon_mensagens.png"></a></li>
                    </button>
                    <button id="button_identificacao_menu">
                        <li><a href="ListaUsuarios"><img src="/images/icon_identificacao.png"></a></li>
                    </button>
                    <button id="button_theater_menu">
                        <li><a href="ListaCinemas"><img src="/images/theater.png"></a></li>
                    </button>
                </div>
            </ul>
            <ul>
                <div class="buttons_sair_configuracao">
                    <button id="button_sair_menu">
                <li><a href="#"><img src="/images/icon_saida.png"></a></li></button>
                <button id="button_configuracao_menu">
                <li><a href="#"><img src="/images/configuracao.png"></a></li></button>
        </div>
        </ul>
        </nav>

        </div>
            <div class="container_content">
                <div class="container_melhor">
                    <div class="container_dados">
                        <div class="dados">
                            <img id="foto_codigo_func" src="/images/icon_identifica_func.png" required/>
                            <span style="width:85%; margin-top:10px">
                                <p id="cod_cinema_p">Código Cinema: @Input.Codigo</p>
                                <p id="cod_nome_p">Nome: @Input.Nome</p>
                                <p id="cod_email_p">Email: @Input.Email</p>
                                <p id="cod_senha_p">Senha: @Input.Senha</p>
                            </span>
                            
                        </div>
                    </div>
                    <div class="container_cadastro">
                        <div class="titulo_func"><p>Cadastro de Funcionário</p></div>
                        <form class="container_form">
                            
                                <div class="container_inputs">
                                    <div class="inputs">
                                        <p>Código do Cinema:</p>
                                        <div class="input">
                                            <img  src="/images/icon_codigo.png" width="35px">
                                            <input @bind="@Input.Codigo"  type="text" placeholder="0000" required>
                                        </div> 
                                    </div>

                                    <div class="inputs">
                                        <p >Nome:</p>
                                        <div class="input">
                                            <img src="/images/icon_theater.png" width="35px">
                                            <input @bind="@Input.Nome" type="text" placeholder="Nome" required/>
                                        </div> 
                                    </div>

                                    <div class="inputs"> 
                                        <p >Email:</p>
                                        <div class="input">
                                            <img  src="/images/icon_email.png" width="35px">
                                            <input @bind="@Input.Email"  type="text" placeholder="exemplo@email.com" required/>
                                        </div> 
                                    </div>

                                    <div class="inputs">
                                        <p>Senha:</p>
                                        <div class="input">
                                            <img src="/images/icon_chave.png" width="35px">
                                            <input @bind="@Input.Senha" type="text" placeholder="*******" />
                                        </div>
                                    </div>

                                    <div class="inputs">
                                        <p>Confirme a Senha:</p>
                                        <div class="input">
                                            <img src="/images/icon_chave.png" width="35px">
                                            <input @bind="@Input.ConfirmarSenha" type="text" img src="img/lupapesquisa.png" placeholder="*******" />
                                        </div> 
                                    </div>

                                    
                                </div>
                                <div class="form_btn">
                                    <img src="/images/icon_identifica_func.png"/>
                                    <button @onclick="Submit" id="cadastre_func">Cadastrar</button>
                                </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>

            @if (ShowMessage2)
            {
            <div class="succes_message2"></div>
            }

            @if (ShowMessage)
            {

            <div class="succes_message"><p>Fucionário Cadastrado com Sucesso!</p>
            <button class="button_succes"><a href="ListaFuncionarios"><img src="/images/theater.png"></a>x</button>
            </div>
            
            }

            @if (ObligationMessage){
                
                <div class="succes_message">
                <button class="button_succes" @onclick="CloseWindow">x</button>
                <img src="/images/sirene.png" width="80px">
                <p>Preencha todos os campos!</p>
                </div>
            }
            
</body>

@code{

    public string Erro ="";
    public string Sucesso ="";
    public bool ShowSuccessMessage { get; set; }

  public RegisterFuncionario Input {get; set;} = new();

  public class RegisterFuncionario{
    public string Codigo;
    public string Email;
    public string Nome;
    public string Senha;
    public string ConfirmarSenha;
  }
    bool ShowMessage = false;
    bool ShowMessage2 = false;
    bool ObligationMessage = false;

   
public async Task Submit()
{
   // Validate that all inputs are filled
   if (string.IsNullOrEmpty(Input.Codigo) || 
       string.IsNullOrEmpty(Input.Email) || 
       string.IsNullOrEmpty(Input.Nome) || 
       string.IsNullOrEmpty(Input.Senha))
   {
           ObligationMessage = true;
           return;
   }

   Console.WriteLine("Test");
   var client = ClientFactory.CreateClient();

   using StringContent jsonContent = new(
       JsonSerializer.Serialize(new
       {
           codCinema = Input.Codigo,
           name = Input.Nome,
           username = Input.Nome,
           email = Input.Email,
           password = Input.Senha,
           userType = "fun"
       }),
       Encoding.UTF8,
       "application/json");

   Console.WriteLine($"teste => {jsonContent}");

   var response = await client.PostAsync("https://framming-api.onrender.com/users/register", jsonContent);

   if (response.IsSuccessStatusCode)
   {
       ShowMessage = true;
       ShowMessage2 = true;
       Console.WriteLine("Funcionário cadastrado com sucesso");
   }
   else
   {
       var errorMessage = await response.Content.ReadAsStringAsync();
       Console.WriteLine($"Error: {errorMessage}");
   }
}

    public void CloseWindow()
   {
       ObligationMessage = false;
   }
}


